.sidebar {
  height: 100%;
  width: 3.3rem;
  background: #24292e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #111;
}
.top {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  flex-direction: column;
}

.sidebar__link {
  width: 3.3rem;
  height: 3.3rem;
  display: grid;
  place-items: center;
  fill: rgb(150, 143, 143);
}
.sidebar__link:hover {
  background: #191b1d;
}
.active_sidebar_link {
  border-left: #9392a0 2px solid;
  fill: #fff;
}

.explorer {
  height: 100%;
  width: 13rem;
  background: #1f2428;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 0.5rem;
  border-right: 1px solid #111;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.explorer__header {
  font-size: 0.9rem;
  color: lightgray;
  margin-bottom: 1rem;
  padding: 0 0.7rem;
}
.explorer__folder {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.explorer__folder > p {
  margin-left: 0.3rem;
}

.rotate-90deg {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.hide-files {
  display: none;
}

.file {
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  color: lightgray;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
}
.file:hover {
  color: #fff;
}
.file > img {
  object-fit: contain;
  height: 1.2rem;
  margin-right: 0.2rem;
}
.active-file {
  color: gold;
}
.active-file:hover {
  color: gold;
}
