.topbar {
  width: 100%;
  height: 2rem;
  display: flex;
  background: #1f2428;
}
.top-file {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: lightgray;
  background: #1f2428;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
}

.top-file > img {
  object-fit: contain;
  height: 1.2rem;
  margin-right: 0.2rem;
}
.active-top-bar {
  border-top: #9392a0 2px solid;

  background: #2f353b;
}
